@font-face {
  font-family: 'Rio2016';
  src: url('rio2016-light-regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  position: relative;
  padding-bottom: 160px;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  color: rgb(7, 6, 6);
}

a {
  font-size: 17px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 0;
  height: 107px;
}

header .logo,
header nav,
header .search {
  vertical-align: top;
}

header .logo {
  display: inline-block;
  width: 16%;
  padding: 15px;
  box-sizing: border-box;
}

header .logo img {
  width: 127px;
  height: 63px;
}

header nav {
  display: inline-block;
  width: 60%;
}

header nav ul,
header nav li,
header nav li li a {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

header nav ul {
  display: inline-block;
  margin: 18px 18px 0 18px;
  position: relative;
  vertical-align: top;
}

header nav li {
  display: inline-flex;
  list-style: none;
  position: relative;
  text-align: center;
}

header nav li a {
  text-decoration: none;
  color: #666;
  padding: 25px;
}

header nav li li:hover a {
  background-color: #266edbb8;
  color: white;
}

header nav li li a {
  width: 157px;
  padding: 15px;
}

header nav ul ul {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  background: #ffff;
}

header nav ul li:hover ul {
  display: block;
  background: #e3e3e3;
}

header .search {
  display: inline-block;
  width: 23%;
  margin-top: 30px;
}

header .search input#athlete {
  background-color: #fff;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.432);
  padding: 10px;
  font-size: 15px;
  margin: 0 2% 0 0;
  box-sizing: border-box;
  width: 63%;
}

header .search input#searchAthlete {
  border-radius: 5px;
  border-color: transparent;
  padding: 10px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  margin: 0;
  background-color: hsl(216, 85%, 64%);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
  width: 35%;
}

header .search input#searchAthlete:hover {
  background-color: #387be049;
}

/* banner */
#main-banner {
  background: url(imagens/backgroundcheguei.jpg) no-repeat;
  background-size: cover;
  background-position: 0 50%;
  position: relative;
  padding: 20%;
  margin-top: 60px;
}

.texto-introducao {
  text-align: justify;
  line-height: 30px;
  margin-inline: 80px;
}

.texto-introducao p {
  padding: 15px;
  font-size: 18px;
}

.texto-introducao h1 {
  font-family: 'Rio2016';
  font-size: 50px;
  text-align: center;
  font-weight: 500 bold;
  color: rgb(38, 69, 156);
  padding: 30px;
  line-height: 60px;
}

h2.texto-introducao, .texto-introducao h2 {
  color: rgb(38, 69, 156);
  padding-left: 15px;
  line-height: 60px;
}

.texto-introducao img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 768px;
}

/* Seção dos 3 paises*/

.wrapper {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
}

.wrapper h1 {
  padding: 50px;
}

.wrapper ul {
  border: 1px solid #CCC;
  border-radius: 10px;
}

.country-box {
  display: flex;
  list-style: none;
  border-bottom: solid 1px #CCC;
}

.country-box .img-column {
  flex: 1;
}

.country-box .text-column {
  flex: 7;
  padding: 10px;
}

.country-box img {
  width: 65px;
  height: 65px;
  padding: 10px;
}

.country-box .text-column p {
  margin-top: 10px
}

/* Cards */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  row-gap: 260px;
}

.content1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  row-gap: 65px;
}

.containerCards {
  position: relative;
  height: 342px;
  width: 275px;
  perspective: 1000px;
}

.topCard {
  background: linear-gradient(to top, #ffcb05, #fdfca5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 88px;
  padding: 22px
}

.mediaCard {
  background: url("https://image.freepik.com/vetores-gratis/icone-olimpiadas-rio_1057-1461.jpg") center/cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mediaCardTwo {
  background: url(imagens/teste.png) center/cover;
}

.mediaCardThree {
  background: url(imagens/fundocard.png) center/cover;
}

.mediaCard,
.mediaCardTwo,
.mediaCardThree,
.mediaCardThreeSports,
.mediaCardOne {
  height: 215px;
  width: 100%;
}

.mediaCardOne {
  background: linear-gradient(to bottom, #ffcb05, #fff);
  color: #27364e;
}

.mediaCardThreeSports,
.mediaCardOne {
  overflow-y: scroll;
  line-height: 30px;
  text-align: center;
}

.mediaCardThreeSports ul,
.mediaCardOne ul {
  padding: 26px;
  margin: 0;
}

.mediaCardOne li {
  list-style: none;
  margin: 0;
}

.mediaCardThreeSports li {
  list-style: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background: linear-gradient(to right, #082bf3, #39d4df);
  padding: 5px;
  color: white;
  margin-bottom: 17px;
}

.topCardTwo {
  padding: 30px;
  background: linear-gradient(to right, #082bf3, #39d4df);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 62px;
}

.title {
  color: #2b3d59;
  /*Contraste da cor*/
  margin-bottom: 5px;
  text-align: center;
}

.titleTwo {
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}

.bottomCardTwo {
  max-height: max-content;
}

.containerCards .flip {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.containerCards:hover .flip {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: absolute;
  /*vai deixar os itens front card e back card paralelo um ao outro*/
  backface-visibility: hidden;
  width: 267px;
  border-radius: 20px;
  box-shadow: 0px 2px 23px rgba(9, 11, 31, 0.329);
}

.back-card {
  transform: rotateY(180deg);
}

/* paginacao */

#paginate {
  width: 100%;
  margin: 32px auto;
}

#paginate .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#paginate .controls div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(192, 22, 113);  
}

#paginate .controls div:not(.numbers),
#paginate .controls div.numbers div{
  width: 70px;
  height: 70px;
  font-size: 24;
  font-weight: bold;
}


/*Footer*/

.footer #button {
  width: 35px;
  height: 35px;
  border: #f8e806 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #f5c800 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}

.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #4bf308ad, #115e0e9a);
}

.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

.footer h3 {
  font-family: 'Rio2016';
  font-size: 30px;
  font-weight: 500 bold;
  color: #f1f1f1;
  margin-top: 70px;
  margin-left: 40px;
}

/*Infos sobre as olimpíadas*/

.container-flex-home {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: arial;
}

.container-info .card-info {
  position: relative;
}

.container-info .card-info .face {
  width: 300px;
  height: 200px;
  transition: .4s;
}

.container-info .card-info .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-info .card-info:hover .face.face1 {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(255, 251, 0),
    inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(255, 251, 0),
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px rgb(255, 217, 0),
    10px 0 80px #0ff;
}

.container-info .card-info .face.face1 .content-info {
  opacity: .2;
  transition: 0.5s;
  text-align: center;
}

.container-info .card-info:hover .face.face1 .content-info {
  opacity: 1;
}

.container-info .card-info .face.face1 .content-info img {
  color: white;
  display: inline-block;
  width: 300px;
  height: 200px;
}

.container-info .card-info .face.face1 .content-info h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container-info .card-info .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-100px);
}

.container-info .card-info:hover .face.face2 {
  transform: translateY(0);
}

.container-info .card-info .face.face2 .content-info p {
  font-size: 11pt;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  text-align: justify;
}

.container-info .card-info .face.face2 .content-info h3 {
  font-family: 'Rio2016';
  font-size: 24pt;
  width: 100px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 8px;
  margin: 10px 0 0;
  display: inline-block;
  text-align: center;
}

/*Statistic*/
#sec {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  word-wrap: break-word;
  margin-right: 30px;
}

#sec h2 {
  font-family: 'Rio2016';
  font-weight: 200;
  font-size: 50px;
  color: #e66363;
  margin-bottom: 20px;
}

#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
  row-gap: 12px;
}

#sec ul li {
  padding: 40px;
  width: 300px;
  transition: box-shadow 0.3s;
  background: linear-gradient(to top, #f5033fbd, #f5e0e5);
  border-radius: 10px;
}

#sec ul li:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#sec ul li:hover span {
  color: #63b7e6;
}

#sec ul li:hover p {
  color: rgb(34, 33, 33);
}

#sec ul li:hover h3 {
  color: #fa1f3c;
}

#sec ul li:hover h3:after {
  width: 25px;
}

#sec ul li span {
  font-size: 2.6em;
  display: block;
  transition: color 0.3s;
  color: #a2a2a2;
}

#sec ul li span:before,
#sec ul li span:after {
  position: static;
}

#sec ul li h3 {
  color: #6f6f6f;
  display: inline-block;
  font-family: 'Rio2016';
  font-size: 30px;
  font-weight: 100;
  transition: color 0.3s;
  padding-bottom: 10px;
}

#sec ul li h3:after {
  content: '';
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width 0.3s;
}

#sec ul li p {
  color: #555454;
  text-align: justify;
  text-indent: 1em;
  font-size: 18px;
  line-height: 26px;
  transition: color 0.3s;
}



/*Responsive*/

@media screen and (max-width: 1024px) {
  header {
    height: 150px;
  }

  header .logo {
    width: 16%;
  }

  header nav {
    width: 84%;
  }

  header .search {
    display: block;
    margin-top: 0;
    margin-left: 58%;
    width: 40%
  }

  #main-banner {
    margin-top: 100px;
  }

}

@media screen and (max-width:768px) {
  header {
    height: auto;
    position: relative;
  }

  header .logo {
    width: 100%;
    text-align: center;
    display: block;
  }

  header nav {
    width: 100%;
    text-align: center;
    display: block;
  }

  header nav li a {
    padding: 0;
    display: block;
  }

  header nav ul li {
    display: block;
    position: relative;
  }

  header nav ul ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 0 0 0;
  }

  header nav li li a {
    padding: 0;
  }

  header nav li {
    margin-bottom: 20px;
  }

  header .search {
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 15px;
    width: 80%
  }

  #main-banner {
    margin-top: 0;
  }

}
